* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}
/* body {
  background-color: white;
  background-image: radial-gradient(rgb(183, 182, 182) 10%, transparent 10%);
  background-size: 20px 20px;
} */
/* body {
  background-color: white;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 255, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgba(255, 0, 0, 0.7) 2px, transparent 2px);
  background-size: 100% 25px, 100% 100%;
  background-position: 0 0, 20px 0;
  background-repeat: repeat;
} */
